:root {
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 20px;
  --spacing-07: 24px;
  --spacing-08: 32px;
  --spacing-09: 40px;
  --spacing-10: 48px;
  --spacing-11: 56px;
  --spacing-12: 64px;
  --spacing-13: 72px;
  --spacing-14: 80px;
  --spacing-15: 96px;
  --spacing-16: 120px;
  --spacing-17: 160px;
}